---
import MainLayout from "@/layouts/MainLayout.astro"
import { getCollection } from "astro:content"

let now = new Date()

const items = (await getCollection("items"))
	.filter(({ data }) => (import.meta.env.PROD ? data.draft !== true : true))
	.sort((a, b) => +new Date(b.data.datePublished) - +new Date(a.data.datePublished))
---

<MainLayout
	title="заголовок"
	description="описание descroption"
	noIndex
	author="Мудак"
	datePublished={now}
	locale="UA"
	ogImage={"../assets/suka.pong"}
	dateModified="нету"
>
	{
		items &&
			items.map(item => (
				<article>
					<h2>{item.data.title}</h2>
					<p>{item.data.description}</p>
					<span>{item.data.datePublished}</span>
				</article>
			))
	}
</MainLayout>
