---
import MainLayout from "@/layouts/MainLayout.astro"
import { getAllPosts } from "@/utils/getPosts"

const posts = await getAllPosts("posts")
---

<MainLayout>
	<h1 class="text-6xl font-black tracking-tighter">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, vitae.
	</h1>

	<a href="/posts">Все посты</a>
	<a href="/categories">Все категории</a>
	<a href="/tags">Все теги</a>
</MainLayout>
