---
const { container_max_w } = Astro.props
---

<footer class="py-5 bg-zinc-100">
  <div class:list={`${container_max_w ?? "max-w-6xl"} container mx-auto px-5`}>
    <!--  -->
    footer
  </div>
</footer>