---
import { Icon } from "astro-icon/components"

const list = [
	{ name: "АА", link: "/svg/AA.png" },
	{ name: "Возрат к основам АА", link: "/svg/b2b.svg" },
	{ name: "АН", link: "/svg/NA.png" },
	{ name: "Ан-Анон", link: "/svg/ANON.svg" },
	{ name: "Хламоголики", link: "/svg/CLA.svg" },
	{ name: "Химические Зависимые", link: "/svg/DAA.svg" },
	{ name: "Должники", link: "/svg/DAAA.svg" },
	{ name: "Трудоголики", link: "/svg/AT.svg" },
	{ name: "Курильщики", link: "/svg/AK.svg" },
	{ name: "Взрослые Дети", link: "/svg/VDA.svg" },
	{ name: "Сексоголики", link: "/svg/SEX.svg" },
	{ name: "Интернет Зависимык", link: "/svg/aiz.svg" },
	{ name: "Игроки Азартные", link: "/svg/GA.svg" },
	{ name: "Депрессивные", link: "/svg/DA.svg" },
	{ name: "Эмоционалы", link: "/svg/EA.svg" },
	{ name: "Компульсивные Переедающие", link: "/svg/APKOM.svg" },
	{ name: "Ал-Анон", link: "/svg/AA-ANON.svg" },
]
---

<section class="p-6 rounded-xl bg-zinc-900 ring-1 ring-zinc-800">
	<a
		target="_blank"
		href="https://t.me/all12_contacts"
		class="py-2 px-4 hover:bg-blue-400/10 transition-colors ease-linear hover:text-blue-600 text-blue-700 inline-flex items-center gap-1 bg-blue-600/10 rounded-lg"
	>
		<span>Все сообщества</span>
		<Icon name="mdi:arrow-top-right" />
	</a>

	<div class="flex gap-2 md:gap-6 flex-wrap mt-6">
		{
			list &&
				list.map(item => (
					<div class="flex items-center gap-3 rounded-lg bg-zinc-950">
						<img
							class="object-cover rounded-lg w-10 md:w-14 h-10 md:h-14"
							decoding="async"
							loading="lazy"
              width="56"
              height="56"
							alt={item.name}
							src={item.link}
						/>
						<span class="font-medium md:text-base text-sm text-zinc-300 pr-3">
							{item.name}
						</span>
					</div>
				))
		}
	</div>
</section>
