---
import { Icon } from "astro-icon/components"
import GroupCard from "./GroupCard.astro"
import { getCollection } from "astro:content"

const groups = await getCollection("groups")
---

<div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
	{groups && groups.map(post => <GroupCard data={post.data} slug={post.slug} />)}
</div>
