---
import { Icon } from "astro-icon/components"

const { icon } = Astro.props
---

<section class="flex gap-3 flex-col mb-6">
	<h2 class="text-2xl flex items-center font-medium gap-1">
		<Icon name={icon} />
		<span> <slot name="name" /></span>
	</h2>
	<p class="text-zinc-400">
		<slot name="p" />
	</p>
</section>
