---

---

<h1
	aria-label="Анонимные Прокрастинаторы"
	class="select-none mix-blend-overlay tracking-tighter text-4xl lg:text-6xl xl:text-8xl text-center font-black"
>
	АНОНИМНЫЕ ПРОКРАСТИНАТОРЫ
	<span class="sr-only">Анонимные Прокрастинаторы</span>
</h1>
